@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Urbanist", sans-serif;

    ::-webkit-scrollbar {
      width: 6px;
    }

    ::-webkit-scrollbar-thumb {
      background-color: #aaaaaa; /* Color of the scrollbar handle */
      border-radius: 6px; /* Rounded corners for the scrollbar handle */
    }
  }
}

.btn {
  @apply text-base rounded-lg;
}

.btn-sm {
  @apply p-0;
}

/* very imp active elements of menu class  */
.active {
  @apply !bg-primary !text-gray-100 shadow-xl  transition-all shadow-indigo-200;
}

.btn-disabled {
  @apply !bg-gray-600 !text-white !cursor-not-allowed;
}

.special-btn {
  align-self: center;
  border: 1px solid black;
  position: relative;
  background: transparent;
  z-index: 1;
  overflow: hidden;
  transition: all 0.5s;
  cursor: pointer;
}

.special-btn:hover {
  color: white;
}

.special-btn::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: black;
  left: 0%;
  top: 120%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  transition: all 0.5s;
  z-index: -1;
  mix-blend-mode: difference;
}

.special-btn:hover::after {
  top: 0;
}
